$font-family: "Roboto", sans-serif;
@mixin regular-text {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  color: #3e3b3b;
}
.todo {
  margin-top: 30px;
  border: 1px solid #8cbfd0;
  border-radius: 25px;
  padding: 2px 0 10px 10px;
}
ul {
  padding: 0;

  li {
    list-style-type: none;

    input {
      padding: 2px 0 2px 4px;
      margin: 10px 0 5px 0;
      height: 25px;
      border-radius: 25px;
      border: 1px solid rgb(227, 227, 227);
      background-color: #cef0cb;
      &:disabled {
        background-color: transparent;
      }
    }
  }
}
.todo_firstline {
  display: flex;
  flex-direction: row;
}
button {
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}
.button_complete {
  margin: 4px 4px 0 0px;
}
.textarea {
  margin: 5px 0 5px 5px;
  width: 266px;
  background-color: #cef0cb;
  border-radius: 25px;
  &:disabled {
    background-color: transparent;
  }
}
.delete_btn_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  button {
    border: 1px solid #bc0808;
    padding: 2px 0 0 2px;
    margin-left: 55px;
    background: transparent;
    border-radius: 25px;
    width: 80px;
    height: 20px;
  }
}
